{% extends 'index.html' %}

{%block content%}
    <h1 class="listheading">LIST OF POSSIBLE TARGETS</h1>

<div class="thumbnails">
    {% for location in locations %}
    <div class="thumb">
    <a class="protein-name" href="{% url 'locations:detail' location.slug %}">{{location.location_name}}</a>
            <img src="{{location.thumb.url}}">
        </div>
    {% endfor %}
    </div>

<div class="center">
    <button class="button2" id="listBtn"> <a href="{% url 'homepage' %}">BACK TO HOMEPAGE</a></button>
    </div>

{% endblock %}