{% extends 'index.html' %}

{%block content%}
<div class="slide">
    <h1 class="listheading">LIST OF POSSIBLE TARGETS</h1>

<div class="thumbnails">
    {% for location in locations %}
    <div class="thumb">
    <a class="protein-name" href="{% url 'locations:detail' location.slug %}">{{location.location_name}}</a>
            <img src="{{location.thumb.url}}">
        </div>
    {% endfor %}
    </div>

</div>


<div class="slide">
     <h1 class="listheading">INTERACTIVE MAP</h1>
    <img src="/static/default_map.png" usemap="#image-map">
                <map name="image-map">
                <area target="_parent" alt="CELL MEMBRANE" title="CELL MEMBRANE" href="/locations/cell-membrane" coords="273,-1,271,638,354,639,353,-1" shape="poly">
                <area target="_parent" alt="MITOCHONDRIA" title="MITOCHONDRIA" href="/locations/mitochondria" coords="524,5,381,149,443,216,588,87" shape="poly">
                <area target="_parent" alt="ENDOSOME" title="ENDOSOME" href="/locations/endosome" coords="501,355,571,345,585,515,515,521" shape="poly">
                <area target="_parent" alt="LYSOSOME" title="LYSOSOME" href="/locations/lysosome" coords="636,435,36" shape="circle">
                <area target="_parent" alt="ENDOPLASMIC RETICULUM" title="ENDOPLASMIC RETICULUM" href="/locations/endoplasmic-reticulum" coords="671,1,692,307,829,394,901,367,863,282,847,263,830,231,817,188,814,134,820,85,835,48,850,20,870,0,790,1" shape="poly">
                <area target="_parent" alt="GOLGI BODIES" title="GOLGI BODIES" href="/locations/golgi-bodies" coords="910,381,818,479,857,595,1024,622,1110,579,1139,543,1139,433" shape="poly">
                <area target="_parent" alt="NUCLEUS" title="NUCLEUS" href="/locations/nucleus" coords="1024,139,187" shape="circle">
                <area target="_parent" alt="PERINUCLEAR SPACE" title="PERINUCLEAR SPACE" href="/locations/perinuclear-space" coords="877,-1,855,28,837,63,826,94,820,140,825,176,833,209,845,244,874,279,904,307,939,322,983,337,1028,342,1070,337,1102,328,1126,317,1137,308,1139,291,1119,305,1091,318,1060,325,1018,328,973,321,928,303,897,279,875,258,857,230,846,204,836,161,836,116,846,73,860,45,875,22,895,0" shape="poly">
                <area target="_parent" alt="CYTOPLASM" title="CYTOPLASM" href="/locations/cytoplasm" coords="356,0,668,-1,685,306,831,399,903,380,815,471,851,597,1027,625,1114,583,1137,557,1137,634,562,637,466,533,515,523,589,516,587,482,686,474,674,390,581,397,575,340,498,350,512,523,466,533,403,315,357,316" shape="poly">
            </map>
    </div>


<div class="center">
    <button class="button2" id="listBtn"> <a href="{% url 'homepage' %}">BACK TO HOMEPAGE</a></button>
    </div>

{% endblock %}