{% extends 'index.html' %}

{%block content%}
    <h1 class="listheading">LIST OF COVID PROTEINS</h1>

<div class="thumbnails">
    {% for protein in proteins %}
    <div class = "description-box">
    <a class="protein-name" href="{% url 'proteins:detail' protein.slug %}">{{protein.protein_id}}</a>

            <p>Full protein name: {{protein.name_preview}}</p>
            <p>Function: {{protein.function_preview}}</p>
            </div>
    {% endfor %}
    </div>

<div class="center">
    <button class="button2" id="listBtn"> <a href="{% url 'homepage' %}">BACK TO HOMEPAGE</a></button>
    </div>

{% endblock %}