*{
  box-sizing: border-box;
}

body, html {
height:100%;
background-position: top;
background-repeat: repeat;
background-size: cover;
background-image: url("/static/bg2.png");
background-blend-mode: lighten;
font-family: sans-serif;
background-color: rgb(146,167,205);
}


h1{
  font-size: 3.2vw;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: rgb(146,167,205);
}
.listheading{
  font-size: 3.2vw;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(146,167,205);
}
h2{
  font-size: 1.7vw;
  font-weight: bolder;
  color: rgb(146,167,205);
  margin: 0px;
}
h2 a{
  font-size: 1.7vw;
  font-weight: bolder;
  color: rgb(146,167,205);
  margin: 0px;
}
h3 {
  font-size: 1.3vw;
  font-weight: bolder;
  color: rgb(146,167,205);
  margin-left: 50px;
}
.result p {
  border-style: none;
  font-size: 1.3vw;
  font-weight: lighter;
  color: rgb(146,167,205);
  margin-left: 50px;
}
.protein-name{
  font-size: 20px;
  font-weight: bolder;
  color: rgb(146,167,205);
  margin: 0px;
}
.protein-name:hover{
  color: orange;
}
.description-box{
  padding: 25px;
  border-style: solid;
  background-color: white;
  border:0px solid rgb(146,167,205);
  width:90%;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
}
.description-box h2{
  font-size: 1.5rem;
  font-weight: normal;
  color: rgb(146,167,205);
  margin: 0px;
}
.description-box p{
  font-size: 1rem;
  font-weight: lighter;
  color: rgb(146,167,205);
  border-left-style: none;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  line-height: 25px;
}
a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

a .botton2{
  display: block;
  font-size: 1vw;
  text-align: center;
  margin: 20px;
  color: rgb(100,128,179);
  background-color: rgb(100,128,179);
  border: 2px solid white;
  text-decoration: none;
  padding: 20px;
}

p{
  font-size: 1.5vw;
  font-weight: lighter;
  color: rgb(146,167,205);
  border-left-style: solid;
  padding: 20px;
  margin-left: 50px;
  margin-top: 15px;
  line-height: 40px;
}
img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}


/*SEARCH BAR (CONTAINER ON BUTTON)*/
.search-container {
  color: rgb(146,167,205);
  width: 100%;
  display: flex;
  margin:auto;
  padding:50px;
}
input#search-bar {
  color: rgb(146,167,205);
  margin: 0 auto;
  width: 90%;
  height: 50px;
  padding: 0 20px;
  font-size: 1rem;
  border: 4px solid rgb(146,167,205);
  outline: none;
}
input#search-bar:focus {
  border: 1px solid rgb(146,167,205);
  transition: 0.35s ease;
  color: rgb(146,167,205);
}
input#search-bar::placeholder {
  color: rgb(146,167,205);
}
input#search-bar:focus::-webkit-input-placeholder {
  color: rgb(146,167,205);
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  color: rgb(146,167,205);
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  color: rgb(146,167,205);
  transition: opacity 0.45s ease;
  opacity: 0;
}
/*GO*/
.button{
  background-color: rgb(100,128,179);
  color: white;
  height: 50px;
  width: 9%;
  border: 2px solid rgb(100,128,179);
  font-weight: bold;
}
.button:hover{
  cursor: pointer;
  background-color: orange;
  border: 2px solid orange;
}


/*SEE LIST OF ALL PROTEINS*/
.center {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.button2{
  margin-bottom: 20px;
  background-color: rgb(100,128,179);
  color: rgb(100,128,179)
  height: 60px;
  width: 25%;
  border: 8px solid rgb(100,128,179);
  font-weight: bold;
  padding:10px;
}

.button2:hover{
  background-color: orange;
  border: 8px solid orange;
}

/*STRUCTURE*/
.column{
  float: left;
  width: 40%;
  padding: 20px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
/*FOOTNOTES*/
.credits {
  font-size: 1.2vw;
  font-weight: lighter;
  left: 0;
  bottom: 0;
  padding: 30px;
  width: 100%;
  background-color: rgb(146,167,205);
  color: black;
  text-align: center;
  color: rgb(227,234,244);
}

/*RESPONSIVE SCREEN*/
/*full length*/
@media screen and (min-width: 1100px) {
  .column{
    width: 50%;
  }
}


/*Medisum devices*/
@media screen and (max-width: 1100px) {
  .column{
    width: 100%;
  }
  h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
  }
  h2{
    font-size: 25px;
    padding: 10px;
  }
  a{
    font-size: 13px;
  }
  p{
    font-size: 15px;
    font-weight: lighter;
  }
  .description-box{
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-style: solid;
    background-color: white;
    border-color: rgb(227,234,244);
  }
  .description-box h3{
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(146,167,205);
    margin: 0px;
  }
  .description-box p{
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(146,167,205);
    border-left-style: none;
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(146,167,205);
    margin-left: 10px;
  }
  .result p {
    border-style: none;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(146,167,205);
    margin-left: 30px;
    line-height: 30px;
  }
  img {
    display: none;
  width: auto;
    height: auto;
    max-width:100%
    padding-top: 130px;
    margin:;
  }
  .center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .botton2{
    width: 100%;
  }
  .credits{
    font-size: 15px;
  }
}




/*small devices*/
@media screen and (max-width: 540px) {
  .column{
    width: 100%;
  }
  body{
    padding: 10px;
  }
  h1{
    font-size: 30px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
  }
  h2{
    font-size: 20px;
    padding: 5px;
  }
  a{
    font-size: 20px;
  }
  p{
    font-size: 4vw;
    font-weight: lighter;
    line-height: 30px;
  }
  .description-box{
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-style: solid;
    background-color: white;
    border-color: rgb(227,234,244);
  }
  .description-box h3{
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(146,167,205);
    margin: 0px;
  }
  .description-box p{
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(146,167,205);
    border-left-style: none;
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
    line-height: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(146,167,205);
    margin-left: 10px;
  }
  .result p {
    border-style: none;
    font-size: 4vw;
    font-weight: lighter;
    color: rgb(146,167,205);
    margin-left: 30px;
    line-height: 30px;
  }
  /*HIDDEN IMAGE FOR SMALLER SCREENS*/
  img {
    display: none;
  }
  .search-container {
    color: rgb(146,167,205);
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  input#search-bar {
    color: rgb(146,167,205);
    margin: 0 auto;
    width: 80%;
    height: 50px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid rgb(146,167,205);
    outline: none;
  }
  /*GO*/
  .button{
    background-color:rgb(146,167,205);
    color: white;
    height: 50px;
    width: 15%;
    border: 2px solid rgb(146,167,205);
    font-weight: bold;
  }
  /*SEE LIST OF ALL PROTEINS*/
  .center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  a{
    font-size: 10px;
  }
  .credits{
    font-size: 10px;
    padding: 10px;
  }
}





/* Home Panels */
.thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width:90%;
    margin:auto;

}

.thumb {
    padding: 10px;
    background-color:rgb(224,230,244);
    border:2px solid rgb(146,167,205);
    position: relative;
    padding-bottom: 40px;

}
.thumb h1{
  font-size: 3.2vw;
  text-align: center;
  padding: 50px;
  margin: auto;
  color: rgb(146,167,205);
}

.slide {
    background-color:rgb(224,230,244);
    border:2px solid rgb(146,167,205);
    width:92%;
    margin: auto;
    margin-top:0px;
    margin-bottom:75px;
    padding-top:40px;
    padding-bottom:50px;
}

.thumb2 {
    display: flex;
    gap: 30px;
    width:90%;
    margin:auto;
}

.thumb3 {
    display: flex;
    gap: 30px;
    width:90%;
    margin:auto;
    padding-top:60px;
    font-size: 1.5rem;
    font-weight: normal;
    color: rgb(146,167,205);
}



/* Home banner */
/* Full height image header */
.w3-top {
height: 400px;
width:100%;
z-index:1;
background-image: url("/static/bg1.png");
background-position: center;
background-size: cover;


}

.w3-top a{
  display: inline-flex;
  margin-bottom: 20px;
  background-color: rgb(100,128,179);
  color: white;
  font-weight: bold;
  padding:10px;
}

.w3-top a:hover{
  background-color: orange;
}




.banner {
  display: flex;
  margin: auto;
  margin-bottom: auto;
  background-color: rgb(224,230,244);
  border:4px solid rgb(224,230,244);
  width:50%;

}
.banner a{
  font-size: 3.2vw;
  text-align: center;
  padding: 0px;
  color: rgb(146,167,205);
  text-decoration: none;
}