<!DOCTYPE html>
{% load static %}

<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>CSCI 233 CAPSTONE</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<!-- partial:index.partial.html -->
<body>


<div class="w3-top">
        <a href="{% url 'homepage' %}">HOME</a>
        <a href="{% url 'locations:list' %}" class ="botton2">TARGET COMPONENTS</a>
        <a href="{% url 'proteins:list' %}" class = "botton2">COVID PROTEINS</a>
        <div class="search-container">
        <form class="search-container" action="{% url 'proteins:search_results' %}" method="get">{% csrf_token %}
        <input name="q" type="text" id="search-bar" placeholder="Search COVID Protein">
        <button class="button" id="searchBtn">GO</button>
        </form>
            </div>
            </div>


        {%block content%}



        <div class = "slide">

            <div class ="thumb2">


                <div class = "description-box">
                    <h2>VIRAL PATHOGENESIS</h2>
                    <p>Viral Pathogenesis involves a series of specific events necessary for the virus to gain access into the target host cell, hijack cellular machineries, reproduction and assembly of replicated viral parts, and finally the exit of new viral copies. This project utilizes all experimental data about Sars-Cov2 virus to present the pathogenesis of covid. </p>
                    </div>
                <div>
                <a href="{% url 'homepage' %}"><h1 class = "listheading">COVID PROTEIN DIRECTORY</h1></a>
                    <div class = "center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PSnSo9kYlH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    </div>
            </div>
        </div>

        <div class = "slide">
            <div class ="thumb2">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PSnSo9kYlH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                <div class = "description-box">
                    <h2>SARS-COV2</h2>
                    <p>The novel coronavirus COVID-19, full name Severe acute respiratory syndrome coronavirus 2 (SARS-COV2), ... </p>
                    </div>
            </div>
            </div>
        </div>

<div class="slide">
        <div class = "description-box">
            <h2>SUBCELLULAR LOCATIONS</h2>
            <p>A mammalian cell is organized into neighborhoods and compartments known as organelles. These subcellular locations allow the temporal and spatial organization of complex processes necessary for cell function. The goal of viruses is to ... </p>


        </div>
    <img src="/static/default.png" usemap="#image-map">
                <map name="image-map">
                    <area target="_self" alt="Mitochondria" title="Mitochondria" href="link2" coords="1038,402,1090,293,1232,220,1325,67,1454,80,1493,222,1400,377,1245,486,1170,496,1093,489" shape="poly">
                    <area target="_self" alt="Nucleus" title="Nucleus" href="link3" coords="2704,355,488" shape="circle">
                    <area target="_self" alt="Endosome" title="Endosome" href="link4" coords="1334,956,1331,1062,1418,1107,1418,1184,1350,1226,1344,1277,1392,1351,1453,1367,1495,1342,1531,1306,1521,1223,1473,1178,1428,1181,1428,1107,1476,1084,1521,1017,1469,927,1383,920" shape="poly">
                    <area target="_self" alt="Lysosome" title="Lysosome" href="link5" coords="1670,1146,107" shape="circle">
                    <area target="_self" alt="Endoplasmic Reticulum" title="Endoplasmic Reticulum" href="link6" coords="2264,0,2149,206,2139,389,2178,557,2232,663,2322,885,2300,949,2126,965,1904,779,1827,544,1785,190,1823,0,2100,6" shape="poly">
                    <area target="_self" alt="Golgi Bodies" title="Golgi Bodies" href="link7" coords="2448,1023,2274,1139,2190,1339,2271,1557,2551,1606,2747,1609,2998,1441,2998,1142,2631,1152" shape="poly">
                    <area target="_self" alt="Cytoplasm" title="Cytoplasm" href="link8" coords="941,0,1784,0,1768,77,1304,58,1233,196,1089,264,1050,315,1018,428,1060,492,1082,512,1266,499,1407,393,1513,225,1468,61,1758,77,1800,521,1874,766,2099,978,2448,1007,2258,1120,2178,1329,2264,1573,2319,1602,2741,1622,2992,1458,2998,1680,918,1683,835,1165,1485,1396,1584,1284,1748,1277,1816,1158,1729,997,1559,1030,1465,878,1324,898,1285,1042,1359,1126,1307,1271,1385,1393,855,1313,822,859,845,418" shape="poly">
                    <area target="_self" alt="Perinuclear Space" title="Perinuclear Space" href="link9" coords="2921,856,2770,898,2602,901,2384,817,2268,705,2184,566,2155,399,2187,171,2293,0,2329,6,2226,183,2207,267,2200,412,2229,547,2300,685,2409,775,2561,849,2728,856,2873,833,2998,759,2998,811" shape="poly">
                    <area target="_self" alt="Cell Membrane" title="Cell Membrane" href="link1" coords="822,3,758,357,729,660,729,763,732,1049,784,1483,819,1676,909,1683,855,1332,832,1046,822,817,829,615,851,409,880,232,925,0" shape="poly">
                </map>
    </div>
  {% endblock %}


  <div class="credits">
    Benjamin, Dominik, Paul, Sahra, Tabata <br> CSCI 233 Computer Science Minor Capstone <br> Fall 2021
  </div>

  <script type="text/javascript">
    var input = document.getElementById("search-bar");
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("searchBtn").click();
      }
    });
  </script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="../js/imageMapResizer.min.js"></script>
	<script type="text/javascript">
		$('map').imageMapResize();
	</script>

</body>
</html>
