<!DOCTYPE html>
{% load static %}
<script src="{% static 'jquery.rwdImageMaps.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>

<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>CSCI 233 CAPSTONE</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<!-- partial:index.partial.html -->
<body>


<div class="w3-top">
        <a href="{% url 'homepage' %}">HOME</a>
        <a href="{% url 'locations:list' %}" class ="botton2">TARGET COMPONENTS</a>
        <a href="{% url 'proteins:list' %}" class = "botton2">COVID PROTEINS</a>
        <div class="search-container">
        <form class="search-container" action="{% url 'proteins:search_results' %}" method="get">{% csrf_token %}
        <input name="q" type="text" id="search-bar" placeholder="Search COVID Protein">
        <button class="button" id="searchBtn">GO</button>
        </form>
            </div>
            </div>


        {%block content%}



        <div class = "slide">

            <div class ="thumb2">


                <div class = "description-box">
                    <h2>PATHOGENESIS OF VIRUSES</h2>
                    <p>Viral pathogenesis is the process by which viruses target and infect host cells, disrupting host processes and resulting to a disease. The mechanism generally involves a series of specific events necessary for the virus to gain access into the target host cell, hijack cellular machineries, reproduction and assembly of replicated viral parts, and finally the exit of new viral copies, spreading into other host cells, tissues, and organs. This information website utilizes all confirmed experimental data about Sars-Cov-2 virus, known as COVID-19, to present the important players and components involved in the pathogenesis of covid. </p>
                    </div>
                <div>
                <a class = "protein-name" href="{% url 'proteins:list' %}"><h1 class="link"> Viral Protein Directory</h1></a>
                    <div class = "center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PSnSo9kYlH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    </div>
            </div>
        </div>

        <div class = "slide">
            <div class ="thumb2">
                <div>
                    <a class = "protein-name" href="/proteins/search/?csrfmiddlewaretoken=2bXqmt2u67LNakNt3Td4yj2rfKU4jRkSgvpjIjU4dBfmURnLgZMM3S7RMOA7Y5sd&q=sars2"><h1 class="link"> Sars-Cov2 Proteins </h1></a>
                    <iframe width="504" height="285" src='/static/cov_gif2.gif'></iframe>
                    </div>
                <div class = "description-box">
                    <h2>COVID-19</h2>
                    <p>The novel coronavirus COVID-19, full name Severe acute respiratory syndrome coronavirus 2 (SARS-COV2), spread through small droplets produced by individuals by coughing or exhaling. Its pathogenesis is attributed to its Spike-Protein, located in the membrane encapsulating its viral genome. The Spike Protein recognizes and latches on specific receptors of the host cell membrane, initiating viral entry. Disassembly of the virus can occur in the cytoplasm or in the host endoplasmic reticulum. The viral genome is then replicated by hijacking host ribosomes. </p>


                </div>
            </div>
            </div>
        </div>

<div class="slide">

    <a class = "protein-name" href="{% url 'locations:list' %}"><h1 class="link"> Target Components </h1></a>
   <div> <img src = '/static/locations.png'> </div>
    <div class = "description-box">
            <h2>SUBCELLULAR LOCATIONS</h2>
            <p>A mammalian cell is organized into neighborhoods and membrane-bound compartments known as organelles. These subcellular locations allow the temporal and spatial organization of complex processes necessary for cellular function. The goal of viruses is to navigate its way into the host cell and taking advantage of different cellular components. </p>
        </div>
    </div>

<script>
$(document).ready(function(e) {
    $('img[usemap]').rwdImageMaps();
});
</script>

  {% endblock %}

  <div class="credits">
    Benjamin, Dominik, Paul, Sahra, Tabata <br> CSCI 233 Computer Science Minor Capstone <br> Spring 2021
  </div>

</body>
</html>
