<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>PROTEIN LIST</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1 class="listheading">PROTEIN LIST</h1>
    <form class="search-container">
      <input type="text" id="search-bar" placeholder="Search COVID Protein">
      <button class="button" id="searchBtn" onclick="javascript:alert('Working!')">Go</button>
    </form>
    <a class="protein-name" href="result.html">PROTEIN A</a>
    <div class="description-box">
      <h3>FUNCTION</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
      <h3>TARGETS</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
    </div>
    <a class="protein-name" href="#">PROTEIN B</a>
    <div class="description-box">
      <h3>FUNCTION</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
      <h3>TARGETS</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
    </div>
    <a class="protein-name" href="#">PROTEIN C</a>
    <div class="description-box">
      <h3>FUNCTION</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
      <h3>TARGETS</h3>
      <p>Orci ac auctor augue mauris augue neque. Faucibus nisl tincidunt eget nullam non nisi. Dignissim sodales ut eu sem integer.</p>
    </div>
    <div class="credits">
      <a href="index.html">BACK TO HOMEPAGE</a>
    </div>
  </body>
</html>
